@font-face {
  font-family: 'GoogleSans';
  font-style: normal;
  font-weight: 300 800;
  src: url(assets/GoogleSans.woff2) format('woff2-variations');
}


html,
body,
#app {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: GoogleSans;
    color: #ffffff;
    background-color: rgb(14, 14, 16);
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: row;
}

.event {
    position: relative;
    margin-bottom: 6px;
}

.event:last-of-type {
    margin-bottom: 0;
}

.event--dot,
.event--line {
    left: 6px;
    width: 8px;
    position: absolute;
}

.event--dot {
    height: 8px;
    top: 14px;
    border-radius: 50%;
}

.event--line {
    top: 10px;
    bottom: 10px;
    border-radius: 8px;
}

.event--content {
    margin-left: 28px;
}

.event--content__duration {
    font-size: 24px;
    font-weight: 300;
    color: #cccccc
}

.calendar {
    position: absolute;
    left: 16px;
    top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    z-index: 200;
}

.calendar--container {
    position: relative;
    margin: 0 auto;
    padding: 20px 24px;
    background-color: #323248;
    border-radius: 4px;
}

.calendar--logo {
    position: absolute;
    top: 0;
    right: -56px;
    height: 48px;
    width: 48px;
}

.fitness {
    z-index: 200;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.spotify {
    position: absolute;
    z-index: 400;
    width: 450px;
    margin: 16px 0 0 0;
    left: calc(50% - 225px);
}

.spotify--login {
    display: flex;
    justify-content: center;
}

.spotify--login {
    color: #fff;
    font-size: 24px;
    background-color: #1ed760;
    text-decoration: none;
    border-radius: 500px;
    padding: 11px 32px 9px;
    transition-property: all;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    cursor: pointer;
    margin: 0 auto;
}

.spotify--login:hover {
    background-color: #116e32;;
}

.spotify--player {
    background-color: #323248;
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.spotify--player__cover {
    height: 90px;
    max-width: 100%;
    flex: 0 0 auto;
}

.spotify--player__cover img {
    height: 100%;
    max-width: 100%;
}

.spotify--player__wrapper {
    position: relative;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-left: 16px;
}

.spotify--player__track,
.spotify--player__artists {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.spotify--player__track {
    font-size: 30px;
}

.spotify--player__artists {
    font-size: 24px;
    color: #bebebe;
}

.spotify--player__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    border-radius: 0 4px 4px 0;
    background-color: #1ed760;
}

.time {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.time--container {
    position: relative;
}

.time--container__date {
    position: absolute;
    top: -36px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 56px;
}

.time--container__time {
    font-size: 256px;
    font-variant-numeric: tabular-nums;
}

.time-france {
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-france .time--container__time {
    font-size: 56px;
    position: relative;
}

.france-icon {
    height: 56px;
    position: absolute;
    left: -64px;
    top: 8px;
}

.twitch {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    z-index: 300;
}

.twitch--login {
    margin: 16px;
    color: #fff;
    font-size: 24px;
    background-color: #9147ff;
    text-decoration: none;
    border-radius: 4px;
    padding: 11px 32px 9px;
    transition-property: all;
    transition-duration: .3s;
    border-width: 0;
    font-weight: 600;
    cursor: pointer;
}

.twitch--login:hover {
    background-color: #772ce8;
}

.twitch--stream {
    background-color: #323248;
    width: 450px;
    border-radius: 8px;
    margin: 16px 16px 0 0;
    display: flex;
    align-items: center;
}

.twitch--stream:first-of-type::before {
    content: "";
    background-image: url(assets/TwitchGlitchPurple.svg);
    background-repeat: no-repeat;
    background-size: 48px;
    position: absolute;
    left: -56px;
    top: 0;
    height: 48px;
    width: 48px;
}

.twitch--stream__pic {
    height: 90px;
    max-width: 100%;
    flex: 0 0 auto;
}

.twitch--stream__pic img {
    height: 100%;
    max-width: 100%;
}

.twitch--stream__container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    flex: 1 1 auto;
    overflow: hidden;
}

.twitch--stream__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.twitch--stream__name,
.twitch--stream__game {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.twitch--stream__name {
    display: inline-block;
    font-size: 30px;
}

.twitch--stream__viewer {
    font-size: 26px;
    display: inline-flex;
    align-items: center;
}

.twitch--stream__viewer::before {
    content: "";
    display: inline-block;
    margin: 0 8px 0 4px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #ff0000;
}

.twitch--stream__game {
    font-size: 24px;
    color: #bebebe;
}

.twitch--more {
    text-align: right;
    background-color: #323248;
    border-radius: 8px;
    margin: 16px auto;
    font-size: 24px;
    padding: 12px 24px;
}


